/* -------- ------- ------ ----- All ----- ------ ------- -------- */
/* body {
} */
.container {
  overflow: hidden;
}
/* -------- ------- ------ ----- Main ----- ------ ------- -------- */
.main-card {
  width: 40%;
  height: 50vh;
}
.img-fluid {
  /* width: auto; */
  height: 100%;
  object-fit: cover;
  /* cursor: pointer; */
}
/* -------- ------- ------ ----- Slider ----- ------ ------- -------- */
.fila {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
}
.slider {
  height: 30vh;
  display: flex;
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  display: none;
}
.slider__card {
  max-height: 100%;
  /* width: 25%; */
  overflow: hidden;
  min-width: 25%;
  object-fit: cover;
  transition: 1s;
}
.slider__card:hover {
  /* transform: scale(1); */
  transform: scale(1.2);
}
.arrow {
  width: 3vw;
  height: 60%;
  position: absolute;
  z-index: 10;
  top: 20%;
  background-color: #222;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.9;
  max-width: 100%;
  color: white;
}
.arrow-right {
  right: 0;
}
-------- ------- ------ -----  ----- ------ ------- --------